.benefits {
    padding: 85rem 0 48rem;

    @include maxWidth($sm) {
        padding: 28rem 0;
    }

    &-card {
        background-color: var(--color-white);
        padding: 142rem 32rem 32rem;
        border-radius: 8px;
        margin: 24rem 0;
        height: 354rem;
        position: relative;
        transform: translateY(50rem);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @include maxWidth($sm) {
            padding: 26rem;
            margin: 24rem 0 0;
            min-height: 354rem;
            height: auto;
        }

        &-number {
            position: absolute;
            top: 32rem;
            left: 32rem;
            font: var(--font-body-s);
            color: var(--color-gray-600);
            pointer-events: none;

            @include maxWidth($sm) {
                font: var(--font-body-s-mobile);
                top: 26rem;
                left: 26rem;
            }
        }

        &-border {
            position: absolute;
            inset: 0;
            border-radius: 8px;
            border: 1rem rgba(#00acea, 0.2) solid;
            pointer-events: none;
        }

        &-icon {
            width: 64rem;
            height: 64rem;
            top: 32rem;
            right: 32rem;
            position: absolute;
            pointer-events: none;

            @include maxWidth($sm) {
                margin: 0 0 70rem auto;
            }

            &:before {
                content: "";
                position: absolute;
                width: 150rem;
                height: 150rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url(../img/home/benefits-icon-shadow.png);
                background-size: contain;
                background-position: center;
                pointer-events: none;
            }

            img {
                @include imageContain(center);
            }
        }

        &-title {
            font: var(--font-body-l);
            margin: 12rem 0;
            pointer-events: none;

            @include maxWidth($sm) {
                font: var(--font-body-l-mobile);
            }
        }

        &-description {
        }
    }

    .section {
        &-subtitle {
            margin-top: 24rem;
        }
    }
    &.benefits-about {
        padding: 55rem 0 76rem;
        .section-subtitle {
            letter-spacing: -0.02em;
        }
        .benefits {
            &-card {
                height: 363rem;
                &-title {
                    color: var(--color-blue);
                    margin: 12rem 0 9rem;
                }
            }
        }
        @include maxWidth($sm) {
            padding: 51rem 0 35rem;
            .benefits {
                &-card {
                    height: auto;
                    justify-content: flex-end;
                    padding-bottom: 24rem;
                    min-height: auto;
                    margin-bottom: 0;
                    &-title {
                        margin: 12rem 0 12rem;
                    }
                    &-icon {
                        margin: 0 0 58rem auto;
                        position: relative;
                        right: 0;
                        top: 1px;
                    }
                }
            }
            .row {
                &:nth-of-type(2) {
                    .col-md-4 {
                        &:nth-of-type(3) {
                            .benefits-card-icon {
                                margin: 0 0 36rem auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
