.blog.home {
    margin-bottom: 144rem;
    padding: 0;
    @include maxWidth($sm) {
        margin-bottom: 80rem;
    }
    .row {
        margin-bottom: 48rem;
    }
    .section-title {
        margin: 0;
    }

    .btn-md {
        padding: 16rem 24rem;
        margin-right: 16rem;
        @include maxWidth($sm) {
            width: 100%;
        }
    }
}

.blog {
    padding: 74rem 0 80rem;

    @include maxWidth($sm) {
        padding: 8rem 0;
    }

    &-action {
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 24rem 0;

        @include maxWidth($sm) {
            justify-content: flex-start;
            padding: 8rem 0;
        }
        &-page {
            a {
                margin-left: 8rem;
            }
        }
    }

    &-carousel {
        margin-left: -8rem;
        margin-right: -8rem;
        padding-top: 24rem;
        overflow: hidden;
        cursor: none;

        @include maxWidth($sm) {
            padding-top: 32rem;
        }

        &-slide {
            max-width: 528rem;
            padding-bottom: 32rem;

            @include maxWidth($sm) {
                max-width: 280rem;
            }
        }

        .splide__list {
            pointer-events: none;
        }

        &:hover {
            @include minWidth($sm + 1) {
                & + .carousel-cursor {
                    opacity: 1;
                }
            }
        }
    }
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        column-gap: 32rem;
    }
    &-wrap-more {
        text-align: center;
    }
    &__item {
        max-width: 416rem;
        margin-bottom: 48rem;
    }
}
