.content {
    border-radius: 14px;
    padding: 97rem 0;
    background: linear-gradient(243deg, rgba(182, 198, 215, 0.2) 0%, rgba(0, 172, 234, 0.2) 100%);
    position: relative;
    margin: 30rem 0 0;

    @include maxWidth($sm) {
        margin: 30rem 0 0;
        padding: 40rem 0 0;
        overflow: hidden;
    }

    &-banner {
        position: absolute;
        bottom: 0;
        right: 136rem;
        width: 623rem;
        height: 450rem;
        transform: translateY(70rem);

        @include maxWidth($sm) {
            position: relative;
            width: 100%;
            right: 0;
            height: auto;
            margin: 27rem -11rem -10rem 0;
        }
        &-image {
            width: 623rem;
            height: 450rem;
            @include maxWidth($sm) {
                width: auto;
                height: auto;
            }
        }
    }

    .section {
        &-description {
            max-width: 415rem;
        }
    }

    .users {
        position: absolute;
        top: 22rem;
        left: 43%;
        transform: translateY(100rem);
        width: 164rem;

        @include maxWidth($sm) {
            display: none;
        }

        &-description {
            align-items: flex-start;
        }
    }
    &-info {
        margin: 24rem 0;
        font: var(--font-body-s);
        color: var(--color-gray-600);
    }
    &.content-second {
        padding: 34rem 0 36rem;
        margin-top: 28rem;
        @include maxWidth($sm) {
            padding: 67rem 0 36rem;
            margin-top: 10rem;
        }
        .join-box-form {
            padding: 0;
            max-width: 424rem;
        }
        .content-info {
            margin: 24rem 0 12rem;
        }
    }

    &.content-second-one {
        padding: 75px 0;
        @include maxWidth($sm) {
            padding: 80rem 0 0;
        }
        .section-title {
            margin: 0;
        }

        .content-info {
            font: var(--font-body-m);
            margin: 24rem 0;
            width: 416rem;
            @include maxWidth($sm) {
                width: auto;
                font: var(--font-body-r-mobile);
                color: var(--color-gray-700);
            }
        }

        .btn {
            @include maxWidth($sm) {
                width: 100%;
            }
        }
    }

    &.content-third {
        padding: 130rem 0;
        @include maxWidth($sm) {
            padding: 70rem 0 0;
        }
    }
}
