.content{
	border-radius: 14px;
	padding: 97rem 0;
	background: linear-gradient(243deg, rgba(182, 198, 215, 0.20) 0%, rgba(0, 172, 234, 0.20) 100%);
	position: relative;
	margin-top: 30rem;
	
		@include maxWidth($sm){
			margin-top: 40rem;
			padding: 40rem 0 0;
			overflow: hidden;
		}
	
		&-banner{
			position: absolute;
			bottom: 0;
			right: 73rem;
			width: 623rem;
			height: 450rem;
			
				@include maxWidth($sm){
					position: relative;
					width: 100%;
					right: 0;
					height: auto;
					margin: 27rem -11rem -10rem 0;
				}
		}
	
		.section{
				&-description{
					max-width: 415rem;
				}
		}
	
		.users{
			position: absolute;
			top: -22rem;
			left: 50%;
			transform: translateX(-58%);
			width: 166rem;
			
				@include maxWidth($sm){
          display: none;
        }
			
				&-description{
					align-items: flex-start;
				}
		}
}