.enhancements {
    margin-bottom: 144rem;

    @include maxWidth($sm) {
        margin-bottom: 80rem;
    }

    &-sticky {
        padding: 32rem 0;
        @include maxWidth($sm) {
            padding: 0;
        }

        .section-title {
            margin: 16rem 0 24rem;
        }

        .section-description {
            margin-bottom: 24rem;
            max-width: 416rem;
        }

        .btn {
            margin-bottom: 40rem;
            @include maxWidth($sm) {
                width: 100%;
            }
        }
    }

    &-row {
        @include maxWidth($sm) {
            padding: 0;
        }
    }

    .section {
        &-banner {
            width: 448rem;
            height: 474rem;
            border-radius: 8px;

            @include maxWidth($sm) {
                width: 100%;
                height: 330rem;
            }
        }
    }

    .products-card {
        //margin-top: 68rem;
        margin-left: -11rem;

        @include maxWidth($sm) {
            margin-left: 0;
            margin-top: 12rem;
        }
    }

    [class*="-4"] {
        @include minWidth($sm + 1) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .products-card-description {
        font: var(--font-body-b);
        color: var(--color-gray-700);
        @include maxWidth($sm) {
            font: var(--font-body-b-mobile);
        }
    }
}
