.investigations{
	padding: 100rem 0 63rem;
	
		@include maxWidth($sm){
			padding: 60rem 0 30rem;
		}
	
		&-sticky{
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	
		.section{
			
				&-title{
					max-width: 610rem;
				}
			
				&-description{
          max-width: 528rem;
        }
		}
	
		& + .container {
			.hr{
				display: none;
			}
		}
}

.certificates{
	display: flex;
	gap: 16rem;
	
		@include maxWidth($sm){
			padding: 33rem 0;
    }
	
		&-column{
			display: flex;
      flex-direction: column;
			width: calc(50% - 8rem);
			column-gap: 16rem;
		}
	
		&-item,
		&-link{
			padding: 24rem 32rem;
			border-radius: 8px;
			border: 1px rgba(#00ACEA, 0.2) solid;
			background: var(--color-white);
			position: relative;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 8rem 0;
			min-height: 176rem;
			
				@include maxWidth($sm){
					padding: 7rem 0 15rem;
					min-height: 144rem;
        }
			
				&-thumbnail{
					width: 94rem;
					height: 94rem;
					margin: 0 auto 12rem;
					overflow: hidden;
					
						@include maxWidth($sm){
							width: 90rem;
							height: 90rem;
						}
					
						img{
							@include imageContain(center);
						}
				}
			
				&-label{
					font: var(--font-body-s);
					color: var(--color-gray-700);
					text-align: center;
					position: relative;
					
						@include maxWidth($sm){
              font: var(--font-body-s-mobile);
            }
				}
		}
	
		&-link{
			color: var(--color-white);
			justify-content: space-between;
			padding: 24rem 22rem;
			
				@include maxWidth($sm){
          padding: 15rem;
        }
			
				&:after{
					content: '';
					position: absolute;
					inset: 0;
					background: var(--color-primary-gradient);
					pointer-events: none;
					mix-blend-mode: darken;
				}
			
				&-thumbnail{
					position: absolute;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 90%;
					margin: 0;
					
						img{
							@include imageContain(right bottom);
						}
				}
			
				&-label{
					text-align: left;
					color: inherit;
					z-index: 1;
				}
			
				.btn{
					position: relative;
					z-index: 1;
				}
		}
}