.process{
	border-radius: 14px;
	overflow: hidden;
	padding: 64rem 0;
	height: 720rem;
	background-color: var(--color-gray-200);
	margin: 35rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	
		@include maxWidth($sm){
      margin: 53rem 0 24rem;
			padding: 40rem 0;
			height: calc(100svh - 12rem);
			justify-content: flex-start;
    }
	
		&-banners{
			pointer-events: none;
			position: absolute;
			inset: 0;
			
				.full-carousel{
					width: 100%;
					height: 100%;
					
						&-slide{
							height: 720rem;
							
								@include maxWidth($sm){
									height: calc(100svh - 12rem);
                }
							
								&:before,
								&:after{
									content: '';
									position: absolute;
									inset: 0;
									opacity: .2;
									pointer-events: none;
								}
							
								&:before{
									background: linear-gradient(262deg, rgba(1, 21, 29, 0.00) -0.28%, #01151D 95.72%);
									background-blend-mode: soft-light;
								}
							
								&:after{
									background: linear-gradient(262deg, rgba(1, 21, 29, 0.00) -0.28%, #01151D 95.72%);
								}
							
								img{
									@include imageCover(center);
								}
						}
				}
		}
	
		&-carousel{
			max-width: 640rem;
			
				&-description{
				
						p{
								@include minWidth($sm + 1){
									display: -webkit-box;
									-webkit-box-orient: vertical;
									-webkit-line-clamp: 4;
									overflow: hidden;
								}
						}
				}
			
				&-slide{
					color: var(--color-white);
					font: var(--font-body-l);
					line-height: 140%;
					
						@include maxWidth($sm){
              font: var(--font-body-l-mobile);
            }
					
						.process-carousel-description{
							transform: translateY(50rem);
							opacity: 0;
						}
					
						&.is-prev{
							.process-carousel-description{
								transition: transform 1s var(--transition-easing), opacity .2s var(--transition-easing);
								transform: translateY(-50rem);
								opacity: 0;
							}
						}
					
						&.is-active.is-visible{
							
							.process-carousel-description{
								transform: translateY(0rem);
								opacity: 1;
								transition: transform 1s var(--transition-easing), opacity .5s var(--transition-easing);
								transition-delay: .2s;
							}

								& ~ .process-carousel-slide{

									.process-carousel-description{
										transform: translateY(50rem);
										opacity: 0;
									}
								}
						}
					
						.btn{
							margin-top: 32rem;
							
								@include maxWidth($sm){
                  margin-top: 24rem;
                }
						}
				}
		}
	
		.progress{
			margin: 20rem 0 80rem;
			
				@include maxWidth($sm){
					margin: 10rem 0 198rem;
				}
		}
}