.hero-metformin {
    .bread-crumbs {
        li {
            &:last-child {
                color: var(--color-gray-300);
            }
        }
    }

    & + .faq {
        padding-top: 132rem;

        @include maxWidth($sm) {
            margin-bottom: 40rem;
            padding: 0;
        }
    }

    @include maxWidth($sm) {
        margin-bottom: 80rem;
    }
}
