.problem {
    margin-bottom: 144rem;
    @include maxWidth($sm) {
        margin-bottom: 80rem;
    }
    hr {
        height: 1rem;
        background: var(--color-gray-200);
        margin-top: 72rem;
        @include maxWidth($sm) {
            display: none;
        }
    }

    &-sticky {
        padding-top: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @include maxWidth($sm) {
            padding: 0;
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 16rem;
        padding: 30rem 0;
        max-width: 464rem;

        @include maxWidth($sm) {
            padding: 25rem 0;
        }

        &-item {
            display: flex;
            flex: 0 1 50%;
            align-items: center;
            column-gap: 12rem;
        }

        &-icon {
            width: 40rem;
            height: 40rem;

            img {
                @include imageContain(center);
            }
        }

        &-label {
            color: var(--color-gray-700);
            font: var(--font-body-s);
            max-width: 75%;

            @include maxWidth($sm) {
                font: var(--font-body-s-mobile);
            }
        }
    }

    &-details {
        display: flex;
        align-items: center;
        column-gap: 137rem;
        padding: 10rem 0;

        @include maxWidth($sm) {
            flex-direction: column;
            align-items: center;
            column-gap: 0;
            row-gap: 32rem;
            padding: 15rem 0;
        }

        &.sildenafil {
            flex-direction: column;
            align-items: start;
            gap: 16rem;
        }

        &-item {
            height: 244rem;

            img {
                @include imageContain(center);
            }
        }
    }

    .section {
        &-title {
            @include maxWidth($sm) {
                margin: 13rem 0 11rem;
            }
        }

        &-description {
            max-width: 416rem;
        }

        &-banner {
            img {
                border-radius: 8px;
            }

            &:not(.section-banner-small) {
                @include minWidth($sm + 1) {
                    height: 500rem;
                    margin-left: -48rem;
                    padding-top: 40rem;
                    top: 94rem;

                    position: sticky;
                }
            }

            &-small {
                position: absolute;
                top: 40rem;
                right: 16rem;
                width: 176rem;
                height: 174rem;

                @include maxWidth($sm) {
                    width: 100%;
                    height: 308rem;
                    position: relative;
                    right: 0;
                    margin-top: 25rem;
                }
            }
        }
    }
    & + .overview-one {
        padding: 100rem 0 72rem;
    }
}
