.enhancements-still{
	background-color: transparent;
	background-image: none;
	padding: 100rem 0;
	
		@include maxWidth($sm){
			padding: 52rem 0 0;
		}
	
		.enhancements-row{
			
				@include maxWidth($sm){
					padding: 40rem 0 17rem;
				}
		}
}