.hero-blog {
    background-color: var(--color-gray-200);
    padding: 120rem 0 58rem;
    border-radius: 14px;
    background-image: url(../img/abstract-bg-grey.jpg);
    background-size: cover;
    background-position: center;
    height: auto;

    @include maxWidth($sm) {
        padding: 165rem 0 80rem;
    }

    .hero-title {
        color: var(--color-black);

        @include maxWidth($sm) {
            margin-bottom: 40rem;
        }
    }
}

.post-hero {
    &-content {
        padding: 73rem 0 0 32rem;

        @include maxWidth($sm) {
            padding: 0;
        }
    }

    .post {
        &-thumbnail {
            height: 470rem;
            margin: 40rem 0;

            @include maxWidth($sm) {
                height: 287rem;
                margin: 24rem 0 12rem;
            }
        }

        &-time {
            position: relative;
            top: 0;
            left: 0;
        }

        &-title {
            @extend .h5;
            display: block;
            margin: 23rem 0 0;

            @include maxWidth($sm) {
                margin: 11rem 0 0;
            }
        }

        &-description {
            display: block;
            margin: 12rem 0 38rem;

            @include maxWidth($sm) {
                margin: 12rem 0 17rem;
            }
        }

        &-action {
            margin-top: 38rem;

            @include maxWidth($sm) {
                margin-top: 17rem;
            }
        }
    }
}
