.join {
    padding: 3rem 0;
    margin-bottom: 93rem;

    @include maxWidth($sm) {
        padding: 40rem 0 30rem;
        margin-bottom: 0;
    }

    &-box {
        background-color: var(--color-gray-200);
        padding: 65rem 0 40rem;
        border-radius: 14px;
        background-image: url("../img/home/join-bg.svg");
        background-size: cover;
        background-position: center;
        overflow: hidden;

        @include maxWidth($sm) {
            margin: 0 -16rem;
            padding: 63rem 18rem;
        }

        &-form {
            padding: 8rem 48rem 0 55rem;

            @include maxWidth($sm) {
                padding: 0;
            }

            .field {
                margin-bottom: 16rem;
            }
        }

        &-content {
            @include maxWidth($sm) {
            }

            .section-title {
                i {
                    display: block;
                }
            }
        }

        .field-item {
            border-color: var(--color-blue-100);
            height: 65rem;

            &:hover,
            &:focus {
                border-color: var(--color-gray-600);
            }
        }
    }

    .section-title {
        @include maxWidth($sm) {
            margin-left: 0;
            margin-bottom: 40rem;
        }

        &-subtitle {
            @include maxWidth($sm) {
                margin: 0;
            }
        }
    }
}
