.page-blog {
    margin-bottom: 144rem;
    @include maxWidth($sm) {
        margin-bottom: 80rem;
    }

    .blog {
        &-wrap {
            margin-top: 23rem;
        }

        &__item {
            margin-bottom: 44rem;

            @include maxWidth($sm) {
                margin-bottom: 22rem;
            }
        }
    }
}
.blog {
    &-second {
        margin-bottom: 144rem;
        @include maxWidth($sm) {
            margin-bottom: 80rem;
        }

        .h4 {
            letter-spacing: -0.32rem;
        }
    }

    &-third {
        .h4 {
            letter-spacing: -0.32rem;
        }
    }
    &-filter {
        padding: 15rem 0;
        display: flex;
        justify-content: flex-end;
        position: relative;

        @include maxWidth($sm) {
            margin: 0 -22rem;
            overflow: hidden;
            height: 75rem;
            padding: 3rem 0;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 20rem;
                height: 100%;
                background: rgb(255, 255, 255);
                background: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 1) 58%,
                    rgba(255, 255, 255, 1) 100%
                );
                z-index: 1;
            }
        }

        &-row {
            display: inline-flex;
            justify-content: flex-end;
            column-gap: 8rem;
            flex-wrap: wrap;

            @include maxWidth($sm) {
                display: block;
                white-space: nowrap;
                overflow-x: auto;
                padding: 0 22rem 20rem;
                height: 84rem;
            }

            .btn {
                margin-top: 5rem;
                margin-bottom: 5rem;

                @include maxWidth($sm) {
                    height: 50rem;
                    padding: 0 16rem;

                    &:not(:last-child) {
                        margin-right: 5rem;
                    }
                }
            }
        }
    }
}
