.page-blog{
  padding: 126rem 0 53rem;
  .blog-wrap{
    margin-top: 23rem;
  }
  .blog__item{
    margin-bottom: 44rem;
  }
}
.blog-second{
  padding: 74rem 0 20rem;
  .h4{
    letter-spacing: -0.32rem;
  }
}
.blog-third{
  padding: 74rem 0 59rem;
  .h4{
    letter-spacing: -0.32rem;
  }
}