.delivery {
    &.markets-page {
        padding: 144rem 0 32rem;
        @include maxWidth($sm) {
            padding: 72rem 0 28rem;
        }
        .delivery-card-icon img {
            object-fit: contain;
        }
    }
}
