.references {
    margin-bottom: 105rem;
    &__content {
        p {
            font: var(--font-body-m);
            margin-bottom: 12rem;
        }
        a:not([href]),
        a[href=""],
        a[href="#"] {
            pointer-events: none;
            color: grey;
            cursor: default;
        }

        a {
            font-size: 12rem;
            display: block;
            margin-bottom: 8rem;
            line-break: anywhere;
            color: var(--color-gray-400);

            &.btn-arrow:not([class*="color-"]) .btn-labels-item {
                background: none;
                -webkit-text-fill-color: var(--color-gray-400);
                color: transparent;
            }
            &.btn-arrow:not([class*="color-"]) .btn-icon {
                color: var(--color-gray-400);
            }
            &:hover {
                &.btn-arrow:not([class*="color-"]) .btn-icon {
                    color: var(--color-blue);
                }
                &.btn-arrow:not([class*="color-"]) .btn-labels-item {
                    color: var(--color-blue);
                    -webkit-text-fill-color: var(--color-primary-gradient);
                }
            }
        }
    }
}
