.section-tab {
  padding: 0 0 101rem 0;
  @include maxWidth($sm) {
    padding: 0 0 20rem 0;
  }

  &__row {
    display: flex;
    @include maxWidth($sm) {
      display: block;
    }
  }
  &__tabs {
    position: relative;
    border-bottom: 1px solid #f2f6f8;

    &::before {
      content: "";
      width: 22rem;
      height: 54rem;
      position: absolute;
      right: -22rem;
      top: 0;
      background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      z-index: 1;
    }
  }
  &__col {
    &:first-child {
      flex: 0 0 60%;
      max-width: 60%;
      margin-right: 12rem;
      @include maxWidth($sm) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
      }
    }
    &:last-child {
      flex: 0 0 40%;
      max-width: 40%;
      @include maxWidth($sm) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
      }
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    column-gap: 16rem;
    padding-bottom: 24rem;
    position: relative;

    @include maxWidth($sm) {
      overflow: auto;
      margin: 0 -22rem;
      padding-bottom: 0;
      &::-webkit-scrollbar {
        width: 0;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 3px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: transparent;
      }
    }
    .btn {
      flex: 0 1 25%;

      @include maxWidth($sm) {
        flex: 0 0 auto;
        &:first-child {
          margin-left: 22rem;
        }
        &:last-child {
          margin-right: 22rem;
        }
      }
    }
  }
  &__content {
    margin-top: 53rem;
    max-width: 416rem;
    @include maxWidth($sm) {
      margin-top: 0;
      margin-bottom: 30rem;
    }
    .market-details {
      @include maxWidth($sm) {
        flex-direction: row;
        &::before {
          content: "";
          height: 60rem;
          width: 1rem;
          top: 50%;
          transform: translateY(-50%);
          left: 50%;
        }
      }
    }
    span {
      color: var(--color-gray-600);
      display: block;
      margin: 10rem 0 40rem;
    }
  }
  .section-banner {
    // max-width: 448rem;
    height: 100%;
    @include maxWidth($sm) {
      margin-bottom: 30rem;
    }
  }

  &__text {
    margin-bottom: 22rem;
    position: relative;

    h5 {
      color: var(--color-blue);
      margin-bottom: 16rem;
    }
  }
  &__blocks {
    margin-top: 95rem;
    margin-left: 58rem;
    @include maxWidth($sm) {
      margin: 0;
    }
  }
  &__decor {
    margin-bottom: 24rem;
  }
}

.js-tab-content {
  display: none;
  margin: 32rem -16rem;
  .col-md-4 {
    height: 100%;
  }
  &.is-active {
    display: flex;
  }
}
