.hero-news-details{
	padding: 176rem 0 0;
	max-height: none;
	height: auto;
	margin-bottom: 24rem;

	@include maxWidth($sm){
		margin-bottom: 16rem;
	}
	
	.post-date {
		position: relative;
		margin-bottom: 24rem;
	}
	
	.hero{
		&-description{
			margin: 23rem 0;
			max-width: 80%;
			
			@include maxWidth($sm){
				margin: 17rem 0;
				max-width: 90%;
			}
		}
	}
}