.post-navigation {
    display: flex;
    flex-flow: row wrap;
    gap: 50rem;
    margin-bottom: 144rem;
    justify-content: space-between;

    @include maxWidth($sm) {
        gap: 30rem;
    }

    &[data-total="2"] {
        .btn {
            &.prev,
            &.next {
                width: 100%;
            }
        }
    }
    
    .btn {
        &.prev,
        &.next {
            justify-content: flex-end;
            text-align: right;
            height: auto;
            padding: 20rem;
            font-size: 22rem;
            gap: 16rem;
            width: calc(50% - 25rem);

            @include maxWidth($sm) {
                width: 100%;
            }
    
            .btn-icon {
                min-width: 24px;
    
                svg {
                    width: 100%;
                }
            }
    
            .btn-labels {
                display: inline-flex;
                text-align: inherit;
                margin: 0;
                white-space: normal;
    
                > span {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
            }
        }

        &.next {
            background: var(--color-primary-gradient-reverse);
        }

        &.prev {
            justify-content: flex-start;
            text-align: left;

            .btn-icon {
                transform: scaleX(-1);
            }
        }

        &.back {
            margin: 24rem auto;
            font-size: 22rem;

            .btn-icon {
                transform: scaleX(-1) translateY(-50%);
            }
        }
    }
}
