.accordion{

		&-item{
			border-bottom: 1rem var(--color-gray-400) solid;
			padding-bottom: 19rem;
			margin-bottom: 20rem;
			
				&-header{
					padding: 12rem 56rem 12rem 0;
					position: relative;
					
						@include hover($md){
							&:hover{
								cursor: pointer;
								
									.accordion-item-icon{
										
											.btn-icon{
												width: 21rem;
											}
									}
							}
						}
				}
			
				&-title{
					font: var(--font-body-l);
				}
				
				&-icon{
					position: absolute;
					top: 16rem;
					right: 0;
					width: 24rem;
					height: 24rem;
					transform: rotate(90deg);
					transition: transform var(--transition-duration) var(--transition-easing), top var(--transition-duration) var(--transition-easing);
					
						//.btn{
						//		&-icon{
						//			height: 16rem;
						//			width: 16rem;
						//		}
						//		&-arrow {
						//			min-height: 24rem;
						//			min-width: 24rem;
						//
						//			.btn-icon{
						//				color: var(--color-black);
						//					&-item {
						//						&:nth-child(1) {
						//							height: 10rem;
						//						}
						//
						//						&:nth-child(2) {
						//							top: 6rem;
						//						}
						//
						//						&:nth-child(3) {
						//							width: 10rem;
						//							top: 3rem;
						//							transform: rotate(50deg);
						//						}
						//
						//						&:nth-child(4) {
						//							transform: rotate(-50deg);
						//							width: 10rem;
						//							top: 9rem;
						//						}
						//					}
						//			}
						//		}
						//}
				}
			
				&-body{
					padding-right: 56rem;
					height: 0;
					overflow: hidden;
					
						.btn-arrow,
						.btn{
							margin-bottom: 14rem;
						}
				}
			
				&-description{
					margin-bottom: 22rem;
					padding-top: 10rem;
					
						p:not(:last-child){
							margin-bottom: 8rem;
						}
				}
			
				&.is-active{
					
						.accordion{
							
								&-item{
									
										&-title{
											@extend .color-gradient;
										}
									
										&-icon{
											transform: rotate(-90deg);
											top: 8rem;
											
											.btn {
												&-arrow {
													.btn-icon {
														color: var(--color-blue);
													}
												}
											}
										}
								}
						}
				}
		}
}