.market {
    &.market-content {
        padding: 50rem 0 0;
        margin-top: 22rem;
        overflow: hidden;
        @include maxWidth($sm) {
            padding: 32rem 0 0;
        }
        .market {
            &-data {
                margin-top: 0;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                z-index: 2;
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    border-radius: 50%;
                    width: 754rem;
                    height: 752rem;
                    right: -75rem;
                    bottom: -120rem;
                    z-index: -1;
                    border: 2rem solid rgba(255, 255, 255, 0.72);
                    background-color: var(--color-gray-200);
                    @include maxWidth($sm) {
                        width: 571rem;
                        height: 571rem;
                        right: -120rem;
                        bottom: -170rem;
                    }
                }
                @include maxWidth($sm) {
                    padding-top: 40rem;
                    min-height: 430rem;
                }
                &-item {
                    border-radius: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    border: 0;
                    position: sticky;
                    &:nth-child(1) {
                        width: 342rem;
                        height: 648rem;
                        margin: -95rem 0;
                        margin-left: -70rem;
                        border-color: transparent;
                        background: transparent;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        @include maxWidth($sm) {
                            width: 250rem;
                            height: 478rem;
                            margin-left: 60rem;
                        }
                    }
                }
                &-icon {
                    margin-bottom: 16rem;
                }
                &-desc {
                    max-width: 260rem;
                    margin-bottom: 16rem;
                    font: var(--font-h5);
                    color: var(--color-gray-600);
                    @include maxWidth($sm) {
                        font: var(--font-h5-mobile);
                    }
                }
                &-number {
                    font: var(--font-h3);
                    color: var(--color-black);
                    @include maxWidth($sm) {
                        font: var(--font-h3-mobile);
                    }
                }
                &-info {
                    position: absolute;
                    left: -250rem;
                    bottom: 160rem;
                    text-align: center;
                    width: 100%;
                    max-width: 187rem;
                    @include maxWidth($sm) {
                        width: auto;
                        left: -60rem;
                        top: -5rem;
                    }
                    .info-media {
                        position: relative;
                        &:after {
                            position: absolute;
                            content: "";
                            right: -225rem;
                            top: -75rem;
                            background-image: url("../img/metformin/line.svg");
                            background-repeat: no-repeat;
                            background-size: cover;
                            width: 250rem;
                            height: 90rem;

                            @include maxWidth($sm) {
                                background-image: url("../img/metformin/line-mob.svg");
                                right: -65rem;
                                top: 25rem;
                                width: 135rem;
                                height: 170rem;
                            }
                        }
                    }
                }
                &-element {
                    padding: 24rem;
                    width: 100%;
                    margin-bottom: 28rem;
                    border-radius: 8px;
                    background: var(--color-blur);
                    border: 1rem solid var(--color-primary-4);
                    .color-gradient {
                        margin-bottom: 7rem;
                    }
                    @include maxWidth($sm) {
                        padding: 12rem 16rem;
                        margin-bottom: 18rem;
                        h3 {
                            @include maxWidth($sm) {
                                font: var(--font-h4-mobile);
                            }
                        }
                    }
                }
            }
            &-sticky {
                height: auto;
                padding-top: 0;
                .section-title {
                    margin-bottom: 18rem;
                }
                .market-content-desc {
                    margin-bottom: 8rem;
                }
            }
            &-content {
                &-image {
                    width: 110rem;
                    height: 80rem;
                }
            }
        }
        & + .enhancements-still {
            .enhancements-sticky {
                padding: 90rem 0 0;
                .section-title {
                    margin-bottom: 32rem;
                }
                .section-description {
                    max-width: 424rem;
                }
            }
        }
    }
    &.market-investor {
        margin-top: 8rem;
        padding: 48rem 0 65rem;
        overflow: hidden;
        @include maxWidth($sm) {
            padding: 32rem 0 32rem;
        }
        .market {
            &-data {
                height: 750rem;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                z-index: 2;
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    border-radius: 50%;
                    width: 824rem;
                    height: 824rem;
                    right: -60rem;
                    bottom: -180rem;
                    z-index: -1;
                    border: 2rem solid rgba(255, 255, 255, 0.72);
                    background-color: var(--color-gray-200);
                    @include maxWidth($sm) {
                        width: 354rem;
                        height: 354rem;
                        right: -60rem;
                        bottom: -20rem;
                    }
                }
                @include maxWidth($sm) {
                    padding-top: 40rem;
                    height: auto;
                }
                &-item {
                    border-radius: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    border: 2rem transparent solid;
                    position: sticky;
                    &:nth-child(1) {
                        width: 416rem;
                        height: 416rem;
                        border-color: transparent;
                        padding: 56rem 64rem;
                        top: 88rem;
                        background: transparent;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        margin: 0 0 0 110rem;
                        @include maxWidth($sm) {
                            padding: 40rem;
                            width: 312rem;
                            height: 312rem;
                            margin: 0 auto;
                        }
                    }
                }
                &-icon {
                    margin-bottom: 16rem;
                }
                &-desc {
                    max-width: 260rem;
                    margin-bottom: 16rem;
                    font: var(--font-h5);
                    color: var(--color-gray-600);
                    @include maxWidth($sm) {
                        font: var(--font-h5-mobile);
                    }
                }
                &-number {
                    font: var(--font-h3);
                    color: var(--color-black);
                    @include maxWidth($sm) {
                        font: var(--font-h3-mobile);
                    }
                }
            }
            &-sticky {
                height: auto;
                padding-top: 0;
            }
        }
    }
    &-content {
        &-icon {
            display: block;
            margin: 55rem 0 24rem;
            @include maxWidth($sm) {
                margin: 24rem 0;
            }
        }
        &-title {
            color: var(--color-gray-700);
            margin-bottom: 8rem;
            font: var(--font-body-l);
        }
        &-desc {
            font: var(--font-body-r);
            color: var(--color-gray-600);
        }
    }
    &-content {
        &-icon {
            display: block;
            margin: 144rem 0 24rem;
            @include maxWidth($sm) {
                margin: 24rem 0;
            }
        }
        &-title {
            color: var(--color-gray-700);
            margin-bottom: 8rem;
            font: var(--font-body-l);
        }
        &-desc {
            font: var(--font-body-r);
            color: var(--color-gray-600);
        }
    }
}
