.what-metformin{
	background-color: var(--color-gray-200);
	margin: 92rem 0 40rem;
	padding: 0 0 8rem;
	border-radius: 14px;
	background-image: url('../img/abstract-bg-grey.jpg');
	background-size: cover;
	overflow: hidden;
	background-position: center;
	@include maxWidth($sm){
		padding: 28rem 0;
	}
	&-top{
		position: relative;
		z-index: 2;
		padding:  53rem 0 30rem;
		@include minWidth($xl){
			margin-bottom: 80rem;
		}
		.section-title{
			margin-bottom: 16rem;
		}
	}
	.section{
		&-description{
			max-width: 350rem;
			@include maxWidth($sm){
				max-width: 100%;
			}
		}
	}
	&-img{
		display: block;
		margin: 41rem 72rem 0 auto;
		@include maxWidth($sm){
			margin: 38rem  auto;
		}
	}
	&-wrap{
		display: flex;
		justify-content: space-between;
		z-index: 2;
		position: relative;
		&:before{
			position: absolute;
			content: '';
			left: 30rem;
			top: -25rem;
			background-image: url("data:image/svg+xml,%3Csvg width='987' height='65' viewBox='0 0 987 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.5L563 32.5' stroke='%23B3B7BC' stroke-dasharray='8 8'/%3E%3Cpath d='M569 33L986.5 64.5' stroke='%23B3B7BC' stroke-dasharray='8 8'/%3E%3C/svg%3E%0A");
			width: 987rem;
			height: 65rem;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;
		}
		@include maxWidth($sm){
			flex-wrap: wrap;
			&:before{
				display: none;
			}
		}
	}

	&-item{
		margin-top: 61rem;
		max-width: 304rem;
		position: relative;
		&:nth-child(2){
			margin-top: 93rem;
		}
		&:nth-child(3){
			margin-top: 125rem;
		}
		&:first-of-type{
			max-width: 416rem;
		}
		@include maxWidth($sm){
			margin-top: 30rem;
			margin-bottom: 20rem;
			max-width: 100%;
			&:before{
				top: -30rem;
			}
			&:nth-child(2), &:nth-child(3){
				margin-top: 30rem;
			}
		}
	}
	&-icon{
		position: absolute;
		left: 0;
		top: -95rem;
		width: 46rem;
		height: 18rem;
		img{
			width: 100%;
			height: 100%;
		}
		@include maxWidth($sm){
			top: -30rem;
		}
	}
	&-link{
		transform: translate(0, -32rem);
		position: relative;
		z-index: 3;
		@include maxWidth($sm){
			transform: translate(0, 0);
		}
	}
}