.blog-details {
    &-info {
        .btn-arrow:not([class*="color-"]) .btn-icon {
            color: var(--color-link);
        }
        .btn-labels {
            white-space: wrap;
            margin-bottom: 12px;
        }
        .btn-arrow:not([class*="color-"]) .btn-labels-item {
            background: var(--color-link);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .btn-icon {
            top: 10rem;
        }
    }
}
