.blog-details{
	padding: 50rem 0 100rem;
	
		@include maxWidth($sm){
			padding: 27rem 0 35rem;
		}
	
		&-info{
			color: var(--color-gray-600);
			
			h1, h2, h3, h4, h5, h6{
				margin: 48rem 0 16rem;
				color: var(--color-black);
				
					@include maxWidth($sm){
						margin: 40rem 0 16rem;
					}
			}
			
			hr{
				@extend .hr;
				margin: 48rem 0;
				
					@include maxWidth($sm){
						margin: 40rem 0;
					}
			}
			
			img{
				display: block;
				border-radius: 8px;
				margin: 46rem 0 14rem;
				height: 448rem;
				object-fit: cover;
				
					@include maxWidth($sm){
						margin: 41rem 0 14rem;
					}
				
					& + span{
						font: var(--font-body-s);
						display: inline-block;
					}
			}
			
			p{
				margin: 12rem 0;
			}
			
			ul{
				margin: 24rem 0;
				
					li{
						position: relative;
						margin-bottom: 8rem;
						color: var(--color-black);
						padding-left: 24rem;
						
							&:before{
								position: absolute;
								content: '';
								left: 0;
								top: 8rem;
								width: 8rem;
								height: 8rem;
								border-radius: 50%;
								background: var(--color-primary-gradient);
							}
					}
			}
			
			blockquote{
				@extend .h5, .color-gradient;
				margin-top: 47rem;
				padding: 1rem 0 0 22rem;
				position: relative;
				letter-spacing: -0.01em;
				
					@include maxWidth($sm){
						margin-top: 40rem;
					}
				
					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						width: 2rem;
						background: var(--color-primary-gradient);
						pointer-events: none;
					}
				
					p{
						margin: 0 0 10rem;
					}
				
					cite{
						color: var(--color-gray-700);
						-webkit-text-fill-color: var(--color-gray-700);
						font: var(--font-body-m);
						font-style: normal;
						
							@include maxWidth($sm){
								margin-bottom: 40rem;
							}
						
							b, strong{
								color: var(--color-black);
							}
					}
			}
		}
	
		.share-icons{
			@include maxWidth($sm){
				margin-top: -16rem;
			}
		}
}

.contact-item{
	margin: 48rem 0;
	padding: 32rem 48rem;
	border-radius: 14rem;
	background-color: var(--color-black);
	color: var(--color-white);
	
		@include maxWidth($sm){
			margin: 40rem 0;
			padding: 57rem 34rem;
		}
	
		h1, h2, h3, h4, h5, h6{
			color: inherit;
			margin: 8rem 0;
			
				@include maxWidth($sm){
					margin: 8rem 0;
				}
		}
	
		p{
			margin: 0;
		}
	
		.btn{
			margin: 25rem 0 16rem;
			
				@include maxWidth($sm){
					margin: 25rem 0 7rem;
				}
		}
}

.share-icons{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
		@include maxWidth($sm){
			flex-direction: column;
			row-gap: 16rem;
		}
	
		ul{
			display: flex;
			justify-content: flex-end;
			
				@include maxWidth($sm){
					width: 100%;
					justify-content: space-around;
				}
		}
	
		li{
			width: 40rem;
			height: 40rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	
		a{
			color: var(--color-black);
			transition: color var(--transition-duration) var(--transition-easing);
			
				svg{
					width: 16rem;
					height: 16rem;
					color: inherit;
				}
			
				@include hover($md){
					&:hover{
						color: var(--color-blue);
					}
				}
		}
}

.blog-last{
	background-color: var(--color-gray-200);
	padding: 144rem 0 110rem;
	margin: 44rem 0 92rem;
	border-radius: 14px;
	background-image: url('../../../img/home/enhancements-abstract.svg');
	background-size: cover;
	background-position: center;
	overflow: hidden;
	
		@include maxWidth($sm){
			padding: 80rem 0 48rem;
			margin: 44rem 0 40rem;
		}
	
		.blog-carousel{
				
				@include maxWidth($sm){
					padding-top: 25rem;
				}
		}
}