.characteristics {
    padding: 54rem 0 63rem;

    @include maxWidth($sm) {
        padding: 43rem 0 15rem;
    }

    .section {
        &-title {
            @include minWidth($sm) {
                max-width: 80%;
            }
        }
        &-subtitle {
            @include minWidth($sm) {
                margin-top: 38rem;
            }
        }
    }

    .accordion {
        padding: 8rem 0;

        @include maxWidth($sm) {
            padding: 25rem 0;
        }
    }

    & ~ .benefits {
        padding: 58rem 0;

        @include maxWidth($sm) {
            padding: 16rem 0;
        }
    }
}
