h1,
.h1 {
    font: var(--font-h1);
    letter-spacing: -0.03em;

    @include maxWidth($sm) {
        font: var(--font-h1-mobile);
    }
}

h2,
.h2 {
    font: var(--font-h2);
    letter-spacing: 0;

    @include maxWidth($sm) {
        font: var(--font-h2-mobile);
    }
}

h3,
.h3 {
    font: var(--font-h3);
    letter-spacing: -0.02em;

    @include maxWidth($sm) {
        font: var(--font-h3-mobile);
    }
}

p {
    font: inherit;
}

strong,
b {
    font-weight: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
    i {
        font-style: normal;
    }
}
