/* Breakpoints */
$xs: 575;
$sm: 767;
$md: 991;
$lg: 1200;
$xl: 1920;

:root {
    /* Fonts */
    --font-family-primary: "DarkerGrotesque";

    /* Headings */
    --font-h1: 900 200rem / 70% var(--font-family-primary);
    --font-h2: 600 96rem / 80% var(--font-family-primary);
    --font-h3: 600 72rem / 80% var(--font-family-primary);
    /* Headings mobile */
    --font-h1-mobile: 900 70rem / 70% var(--font-family-primary);
    --font-h2-mobile: 600 38rem / 80% var(--font-family-primary);
    --font-h3-mobile: 600 34rem / 80% var(--font-family-primary);

    /* Body */
    --font-body-s: 600 18rem / 100% var(--font-family-primary);
    --font-body-m: 600 20rem / 100% var(--font-family-primary);
    /* Body mobile */
    --font-body-s-mobile: 600 15rem / 100% var(--font-family-primary);
    --font-body-m-mobile: 600 16rem / 100% var(--font-family-primary);

    /* Colors */
    --color-primary-1: #00204d;
    --color-primary-2: #003cbf;

    --color-gradient-1: #67d7fb;
    --color-gradient-2: #126cd8;

    --color-white: #ffffff;
    --color-black: #000;
    --color-gray: #1b1b1b;
    --color-gray-100: #b0b0b0;
    --color-gray-200: #262525;

    --color-success: #21d184;
    --color-error: #ff5c5c;
    --color-link: #3870ff;

    --color-hover: #9e94f5;

    --transition-duration: 0.5s;
    --transition-easing: ease;
}
