<section class="section content content-second-one">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="h3 section-title"><i>Our Portfolio</i><br />is Expanding</h3>
                <p class="content-info">
                    Contact us for information about new medicines and innovations.
                </p>

                <a href="contact-us.html" class="btn mini btn-gradient">
                    <span class="btn-bg"></span>
                    <span class="btn-icon"
                        ><svg><use xlink:href="img/icons/icons.svg#arrow-right"></use></svg
                    ></span>
                    <span class="btn-labels">
                        <span class="btn-labels-item">Contact Us</span>
                        <span class="btn-labels-item">Contact Us</span>
                        <span class="btn-labels-item">Contact Us</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="content-banner show-on-scroll">
        <picture>
            <source srcset="img/home/content-1.webp" type="image/webp" />
            <source srcset="img/home/content-1.png" type="image/jpeg" />
            <img src="img/home/content-1.png" class="content-banner-image" />
        </picture>
    </div>
</section>
