<section class="section content">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<p class="font-uppercase color-gradient section-subtitle">Content</p>
				<h3 class="h3 section-title">Take Control of Your <i>Health Today</i></h3>
				<p class="section-description">Inquire about our innovative <strong> Metformin products</strong> during your next doctor's appointment. </p>
			</div>
		</div>
	</div>
	<div class="content-banner show-on-scroll">
		<picture>
			<source srcset="../../img/home/content-1.webp" type="image/webp">
			<source srcset="../../img/home/content-1.jpg" type="image/jpeg">
			<img src="../../img/home/content-1.jpg">
		</picture>
	</div>
</section>