<section class="section content content-second">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="h3 section-title">Interested in finding <br /><i>out more?</i></h2>
                <div class="join-box-form">
                    <form>
                        <label class="field">
                            <span class="field-label">E-mail*</span>
                            <input
                                type="email"
                                placeholder="Your Email"
                                class="field-item"
                                required
                            />
                            <span class="field-message __success">Success message</span>
                            <span class="field-message __error">Error message</span>
                        </label>
                        <button class="btn btn-gradient btn-md btn-full-width">
                            <span class="btn-bg"></span>
                            <span class="btn-icon"
                                ><svg><use xlink:href="img/icons/icons.svg#arrow-right"></use></svg
                            ></span>
                            <span class="btn-labels">
                                <span class="btn-labels-item">Subscribe</span>
                                <span class="btn-labels-item">Subscribe</span>
                                <span class="btn-labels-item">Subscribe</span>
                            </span>
                        </button>
                    </form>
                </div>
                <p class="content-info">
                    <i class="color-gradient">* </i> For information about our patents, intellectual
                    property or products.
                </p>
            </div>
        </div>
    </div>
    <div class="content-banner show-on-scroll">
        <picture>
            <source srcset="img/home/content-1.webp" type="image/webp" />
            <source srcset="img/home/content-1.png" type="image/jpeg" />
            <img src="img/home/content-1.png" class="content-banner-image" />
        </picture>
    </div>
</section>
