<footer class="footer">
    <div class="footer-abstract">
        <img src="../../img/footer-abstract.svg" alt="Alt" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 offset-md-5 d-none d-md-block">
                <hr class="hr" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 order-md-1">
                <div class="footer-logo d-none d-md-block">
                    <a href="/" class="logo">
                        <img src="../../img/logo-white.svg" alt="Altanine" />
                    </a>
                </div>
                <div class="footer-nav">
                    <p class="footer-label">Site map</p>
                    <ul>
                        <li><a href="about-us.html">About us</a></li>
                        <li><a href="#">Innovation</a></li>
                        <li><a href="#">Markets</a></li>
                        <li><a href="investor.html">Investor Relations</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="contact-us.html">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 d-md-none">
                <hr class="hr" />
            </div>
            <div class="col-md-7 order-md-2">
                <div class="row justify-content-between">
                    <div class="col-md-3 order-md-3 col-6">
                        <div class="footer-medicines">
                            <p class="footer-label">Medicines</p>
                            <div class="footer-medicines-list">
                                <a href="metformin.html" class="footer-medicines-item">Metformin</a>
                                <a href="sildenafil.html" class="footer-medicines-item"
                                    >Sildenafil</a
                                >
                                <a href="sumatriptan.html" class="footer-medicines-item"
                                    >Sumatriptan</a
                                >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 order-md-3 col-6 order-1">
                        <div class="footer-contacts">
                            <p class="footer-label">Contacts us</p>
                            <div class="footer-contacts-list">
                                <a href="tel:+66 666 66 66 666" class="footer-contacts-item"
                                    >+66 666 66 66 666</a
                                >
                                <a href="mailto:info@altanine.com" class="footer-contacts-item"
                                    >info@altanine.com</a
                                >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 order-md-3 col-6">
                        <div class="footer-social">
                            <p class="footer-label">Social networks</p>
                            <div class="footer-social-list">
                                <a
                                    href="#"
                                    target="_blank"
                                    class="btn btn-arrow color-gray-400 footer-social-item"
                                >
                                    <span class="btn-icon">
                                        <span class="btn-icon-item"></span>
                                        <span class="btn-icon-item"></span>
                                        <span class="btn-icon-item"></span>
                                        <span class="btn-icon-item"></span>
                                    </span>
                                    <span class="btn-labels">
                                        <span class="btn-labels-item">Instagram</span>
                                    </span>
                                </a>
                                <a
                                    href="#"
                                    target="_blank"
                                    class="btn btn-arrow color-gray-400 footer-social-item"
                                >
                                    <span class="btn-icon">
                                        <span class="btn-icon-item"></span>
                                        <span class="btn-icon-item"></span>
                                        <span class="btn-icon-item"></span>
                                        <span class="btn-icon-item"></span>
                                    </span>
                                    <span class="btn-labels">
                                        <span class="btn-labels-item">Linkedin</span>
                                    </span>
                                </a>
                                <a
                                    href="#"
                                    target="_blank"
                                    class="btn btn-arrow color-gray-400 footer-social-item"
                                >
                                    <span class="btn-icon">
                                        <span class="btn-icon-item"></span>
                                        <span class="btn-icon-item"></span>
                                        <span class="btn-icon-item"></span>
                                        <span class="btn-icon-item"></span>
                                    </span>
                                    <span class="btn-labels">
                                        <span class="btn-labels-item">Facebook</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-logo d-md-none">
                    <a href="/" class="logo">
                        <img src="../../img/logo-white.svg" alt="Altanine" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 order-md-2">
                <p class="footer-copyright">&copy; 2024 — Altanine, All Rights Reserved</p>
            </div>
            <div class="col-md-3 order-md-3">
                <div class="footer-additional">
                    <ul>
                        <li><a href="text-template.html">Lorem Ipsum</a></li>
                        <li><a href="text-template.html">Lorem Ipsum</a></li>
                        <li><a href="text-template.html">Privacy policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 order-md-1">
                <a href="https://www.studiopresto.com/" target="_blank" class="footer-developer">
                    Made by
                    <span class="footer-developer-logo">
                        <img src="../../img/developer-logo.svg" alt="Studiopresto" />
                        <img src="../../img/developer-logo-blue.svg" alt="Studiopresto" />
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>
