<footer class="footer">
    <div class="row justify-content-between footer-top">
        <div class="col-md-3 col-6">
            <p class="footer-label">All rights <br />reserved © 2025</p>
        </div>
        <div class="col-md-2 col-6">
            <p class="footer-label">General email</p>
            <a href="mailto:info@altanine.com" class="footer-item">hello@devix.digital</a>
        </div>
        <div class="col-md-2 col-12">
            <p class="footer-label">call us</p>
            <a href="tel:+66 666 66 66 666" class="footer-item">+380 63 412 58 92</a>
        </div>
        <div class="col-md-5 col-12">
            <p class="footer-label">Social networks</p>
            <div class="footer-item-list">
                <a href="#" target="_blank" class="footer-item"> Instagram </a>
                <a href="#" target="_blank" class="footer-item"> Linkedin </a>
                <a href="#" target="_blank" class="footer-item"> Dribbble </a>
                <a href="#" target="_blank" class="footer-item"> behance </a>
            </div>
        </div>
    </div>
    <p class="footer-copyright">Devix digital</p>
</footer>
