<header class="header" id="header">
    <div class="header-panel">
        <div class="header-panel-logo">
            <a href="/" class="logo">
                <img src="img/logo.svg" alt="Altanine" />
            </a>
            <div class="header-contacts">
                <a href="tel:+66 666 66 66 666" class="header-contacts-item">+66 666 66 66 666</a>
                <a href="mailto:info@altanine.com" class="header-contacts-item"
                    >info@altanine.com</a
                >
            </div>
        </div>
        <div class="header-panel-nav" id="mobile-menu">
            <nav>
                <ul>
                    <li>
                        <a class="about-us-link" href="about-us.html">About us</a>
                        <ul>
                            <li>
                                <a
                                    href="about-us.html"
                                    class="scroll-action js-tab-menulink wrap"
                                    data-target="#team"
                                    data-href="tab1"
                                    data-hash="executive-management"
                                    >Executive Management</a
                                >
                            </li>
                            <li>
                                <a
                                    href="about-us.html"
                                    class="scroll-action js-tab-menulink wrap"
                                    data-target="#team"
                                    data-href="tab2"
                                    data-hash="board-of-directors"
                                    >Board Of Directors</a
                                >
                            </li>
                            <li>
                                <a
                                    href="about-us.html"
                                    class="scroll-action js-tab-menulink wrap"
                                    data-target="#team"
                                    data-href="tab3"
                                    data-hash="scientific-advisory"
                                    >Scientific Advisory Board</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li><a href="innovation.html">Innovation</a></li>
                    <li><a href="markets.html">Markets</a></li>
                    <li>
                        <a href="metformin.html">Medicines</a>
                        <ul>
                            <li><a href="metformin.html">Metformin</a></li>
                            <li><a href="sildenafil.html">Sildenafil</a></li>
                            <li><a href="sumatriptan.html">Sumatriptan</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="investor.html">Investor relations</a>
                    </li>
                    <li>
                        <a href="blog.html">Resources</a>
                        <ul>
                            <li><a href="blog.html">Insights</a></li>
                            <li><a href="news.html">News</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="header-contacts">
                <a href="tel:+66 666 66 66 666" class="header-contacts-item">+66 666 66 66 666</a>
                <a href="mailto:info@altanine.com" class="header-contacts-item"
                    >info@altanine.com</a
                >
            </div>
            <a href="contact-us.html" class="btn btn-gradient">
                <span class="btn-bg"></span>
                <span class="btn-labels">
                    <span class="btn-labels-item">Contact us</span>
                    <span class="btn-labels-item">Contact us</span>
                    <span class="btn-labels-item">Contact us</span>
                </span>
            </a>
        </div>
        <div class="header-panel-action">
            <a href="contact-us.html" class="btn btn-gradient">
                <span class="btn-bg"></span>
                <span class="btn-labels">
                    <span class="btn-labels-item">Contact us</span>
                    <span class="btn-labels-item">Contact us</span>
                    <span class="btn-labels-item">Contact us</span>
                </span>
            </a>
            <button class="burger" aria-label="Open menu" aria-controls="mobile-menu">
                <span class="burger-box">
                    <span class="burger-box-arrow"></span>
                    <span class="burger-box-arrow"></span>
                    <span class="burger-box-arrow"></span>
                </span>
            </button>
        </div>
    </div>
</header>
