<header class="header" id="header">
    <div class="header-panel">
        <a href="/" class="header-panel-logo">
            <img src="img/logo-mini.svg" alt="Devix logo" />
        </a>
        <div class="header-panel-wrapper">
            <div class="header-panel-info">347 Riverside Lane, Heart of Metropolis USA</div>
            <nav class="header-panel-nav-desk">
                <ul>
                    <li>
                        <a href="#">Apartments</a>
                    </li>
                    <li>
                        <a href="#">Gallery</a>
                    </li>
                </ul>
            </nav>
        </div>
        <nav class="header-panel-nav-mob" id="mobile-menu">
            <ul>
                <li>
                    <a href="#">Apartments</a>
                </li>
                <li>
                    <a href="#">Gallery</a>
                </li>
            </ul>
        </nav>
        <div class="header-panel-action">
            <a href="#" class="btn"> Contact </a>
            <button class="burger" id="burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </button>
        </div>
    </div>
</header>
