<section class="section join">
    <div class="container">
        <div class="join-box">
            <div class="row">
                <div class="col-md-5 order-md-2">
                    <div class="join-box-content">
                        <p class="font-uppercase color-gradient section-subtitle">
                            Stay up-to-date
                        </p>
                        <h2 class="h3 section-title">Join our free <i>e-newsletter today</i></h2>
                    </div>
                </div>
                <div class="col-md-5 order-md-1">
                    <div class="join-box-form">
                        <form>
                            <!--							<label class="field __success">-->
                            <!--							<label class="field __error">-->
                            <label class="field">
                                <span class="field-label">And a-mail*</span>
                                <input type="email" placeholder="Your Email" class="field-item" />
                                <span class="field-message __success">Success message</span>
                                <span class="field-message __error">Error message</span>
                            </label>
                            <button class="btn btn-gradient btn-md btn-full-width">
                                <span class="btn-bg"></span>
                                <span class="btn-icon"
                                    ><svg>
                                        <use
                                            xlink:href="img/icons/icons.svg#arrow-right"
                                        ></use></svg
                                ></span>
                                <span class="btn-labels">
                                    <span class="btn-labels-item">Subscribe</span>
                                    <span class="btn-labels-item">Subscribe</span>
                                    <span class="btn-labels-item">Subscribe</span>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
