<div class="modal" id="investor-modal">
	<div class="modal-bg"></div>
	<div class="modal-close" data-modal-close="#investor-modal"></div>
	<div class="modal-box" data-lenis-prevent>
		<div class="modal-box-item">
			<div class="investor-modal">
				<div class="modal-close-btn" data-modal-close="#investor-modal">
					<svg><use xlink:href="img/icons/icons.svg#close"></use></svg>
				</div>
				<div class="investor-modal-content">
					<h5 class="h5">We’d love to hear from you.</h5>
					<form>
						<label class="field">
							<span class="field-label">You Full name* </span>
							<input type="email" placeholder="Full name" class="field-item" required />
							<span class="field-message __success">Success message</span>
							<span class="field-message __error">Error message</span>
						</label>
						<label class="field">
							<span class="field-label">And email*</span>
							<input type="email" placeholder="You email" class="field-item" required />
							<span class="field-message __success">Success message</span>
							<span class="field-message __error">Error message</span>
						</label>
						<label class="field">
							<span class="field-label">Now write down your message *</span>
							<span class="field-resize"></span>
							<textarea placeholder="You message" class="field-item" required></textarea>
							<span class="field-message __success">Success message</span>
							<span class="field-message __error">Error message</span>
						</label>
						<button class="btn btn-gradient btn-md btn-full-width">
							<span class="btn-bg"></span>
							<span class="btn-icon"><svg><use xlink:href="img/icons/icons.svg#arrow-right"></use></svg></span>
							<span class="btn-labels">
								<span class="btn-labels-item">Become an investor</span>
								<span class="btn-labels-item">Become an investor</span>
								<span class="btn-labels-item">Become an investor</span>
							</span>
						</button>
					</form>
				</div>
				<div class="investor-modal-thumbnail">
					<picture>
						<source srcset="../../img/investor/modal-banner.webp" type="image/webp">
						<source srcset="../../img/investor/modal-banner.jpg" type="image/jpeg">
						<img src="../../img/investor/modal-banner.jpg">
					</picture>
				</div>
			</div>
		</div>
	</div>
</div>