<div class="modal" id="thanks">
    <div class="modal-bg"></div>
    <div class="modal-close" data-modal-close="#thanks"></div>
    <div class="modal-box" data-lenis-prevent>
        <div class="modal-box-item">
            <div class="thanks">
                <div class="modal-close-btn" data-modal-close="#thanks">
                    <svg><use xlink:href="img/icons/icons.svg#close"></use></svg>
                </div>
                <div class="thanks-content">
                    <h3 class="h4 thanks-content-title">Thank You<i>!</i></h3>
                    <p class="thanks-content-subtitle">Your submission has been received!</p>
                    <p class="thanks-content-description">We will reach out to you shortly.</p>
                </div>
                <div class="thanks-thumbnail">
                    <img src="img/logo-mini.svg" alt="Altanine" />
                </div>
            </div>
        </div>
    </div>
</div>
