.ir-inquiries {
    @include maxWidth($md) {
        margin-bottom: 80rem;
    }

    .contact-form {
        @include maxWidth($md) {
            width: 100%;
        }
    }
    &-box {
        justify-content: center;
    }

    &-title {
        margin-bottom: 8rem;
    }

    &-desc {
        margin-bottom: 60rem;
    }

    .field-row {
        display: flex;
        gap: 16rem;

        @include maxWidth($sm) {
            flex-direction: column;
            gap: 0;
        }

        .field {
            flex: 1;
        }
    }
}
.ir-contacts {
    padding: 96rem 144rem;
    background-color: var(--color-gray-200);
    @include maxWidth($md) {
        padding: 24rem 0;
    }

    &-title {
        margin-bottom: 24rem;
    }

    &-item {
        margin-bottom: 16rem;
    }

    &-item-title {
        margin-bottom: 10rem;
    }
}
