.enhancements{
	&.enhancements-dark{
		background-image: url("../../../img/product/bg.svg");
		.section-title, .products-card-title{
			color: var(--color-white);
		}
		.section-description, .products-card-description{
			color: var(--color-gray-400);
		}
	}
}