.enhancements-gray {
    background-color: var(--color-gray-200);
    border-radius: 14px;
    background-image: url(../img/abstract-bg-grey.jpg);
    background-size: cover;
    background-position: center;
}
