.benefits.investor {
    padding: 0;

    .section-subtitle {
        margin: 0 0 16rem;
    }

    .col-md-7 {
        max-width: 752rem;
        .h4 {
            margin: 0;
            margin-bottom: 41rem;
        }
    }

    .benefits-card {
        max-width: 360rem;
        padding: 180rem 0 0 8rem;
        @include maxWidth($sm) {
            text-align: center;
            margin: 0;
        }
    }

    .benefits-card-icon {
        width: 224rem;
        height: 224rem;
        top: -5rem;
        left: -70rem;
        @include maxWidth($sm) {
            top: 5rem;
        }
    }
}
