.enhancements-investor {
    padding: 64rem 0 40rem;

    @include maxWidth($sm) {
        padding: 272rem 0 80rem;
    }
    &-banner {
        position: absolute;
        width: 581rem;
        height: 481rem;
        top: -65rem;
        right: 190rem;
        @include maxWidth($sm) {
            width: 100%;
            top: -135rem;
            right: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .section-title {
        margin: 16rem 0 0;
        @include maxWidth($sm) {
            margin-bottom: 40rem;
        }
    }

    &-cards {
        display: flex;
        column-gap: 32rem;
        margin-top: 164rem;
        padding: 0;

        @include maxWidth($sm) {
            flex-direction: column;
            margin-top: 0;
            column-gap: 0;
        }
    }
    &-description {
        color: var(--color-gray-600);
        font: var(--font-body-r);
        margin-bottom: 8rem;
    }
    &-description:last-child {
        @include maxWidth($sm) {
            margin-bottom: 24rem;
        }
    }

    &-card {
        max-width: 416rem;
        padding: 0;

        .h5 {
            margin-bottom: 12rem;
        }
    }

    &-icon {
        width: 46rem;
        height: 18rem;
        margin-bottom: 24rem;
    }
}
