.investor.our-strategy {
    .banner.section-banner {
        height: 556rem;
        @include maxWidth($sm) {
            height: 367rem;
        }
    }

    .about-desc {
        margin: 40rem 0 0;
        max-width: 100%;
        .h3 {
            width: 480rem;
            margin-bottom: 16rem;
            @include maxWidth($sm) {
                width: 100%;
            }
        }
        p {
            font: var(--font-body-b);
            margin-bottom: 24rem;
        }
    }
}
