.innovation-page {
  &.products {
    position: relative;
    background-image: url(../../../img/innovation/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
