.innovation-page {
    &.products {
        padding: 144rem 0;
        position: relative;
        background-image: url(../img/innovation/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
