.technology {
  padding: 130rem 0 25rem 0;
  @include maxWidth($sm) {
    padding: 50rem 0 15rem 0;
  }
  .section-subtitle {
    margin-top: 24rem;
  }
  .col-md-4 {
    &:last-child {
      .technology-card {
        &::before {
          background-image: url(../img/innovation/circle-color.svg);
        }
        &::after {
          content: "";
          width: 33rem;
          height: 33rem;
          position: absolute;
          top: 32rem;
          left: 0;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(../img/logo-mini.svg);
          background-size: contain;
        }
      }
    }
  }
  &-card {
    padding-top: 74rem;
    position: relative;
    &::before {
      content: "";
      width: 160rem;
      height: 160rem;
      position: absolute;
      top: 0;
      left: -45rem;
      background-image: url(../img/innovation/circle.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    h5 {
      margin-bottom: 24rem;
    }
    ul {
      margin: 24rem 0;
      li {
        font: var(--font-body-m);
        position: relative;
        margin-bottom: 8rem;
        color: var(--color-black);
        padding-left: 24rem;
        &:before {
          position: absolute;
          content: "";
          left: 0;
          top: 8rem;
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          background: var(--color-primary-gradient);
        }
      }
    }
  }
}
