.hero-events {
    max-height: 400rem;
    min-height: 0;
    margin-bottom: 64rem;
    z-index: 3;

    .hero-banner-item img {
        object-position: right top;
    }

    .hero-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 41rem;
    }
}
