.about{
  padding: 144rem 0 72rem;
  .section-title{
    margin-bottom: 96rem;
  }

  &__media{
    margin-left: -30rem;
    &-small{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
    }

  }
  &__desc{
    margin: 40rem auto 0;
    max-width: 416rem;
    h4{
      margin-bottom: 24rem;
    }
    b{
      margin-bottom: 32rem;
      i{
        font-style: normal;
        color:  var(--color-blue);
      }
    }
  }
}